name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        platform:
          - { target: x86_64-unknown-linux-gnu, os: ubuntu-latest }
          - { target: x86_64-apple-darwin, os: macos-latest }
          - { target: x86_64-pc-windows-gnu, os: windows-latest }
          - { target: aarch64-unknown-linux-gnu, os: ubuntu-latest }
          - { target: aarch64-apple-darwin, os: macos-latest }
          - { target: aarch64-pc-windows-gnu, os: windows-latest }
          - { target: i686-unknown-linux-gnu, os: ubuntu-latest }
          - { target: i686-pc-windows-gnu, os: windows-latest }

    runs-on: ${{ matrix.platform.os }}

    steps:
    - uses: actions/checkout@v4
    
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.platform.target }}
        override: true

    - name: Build
      run: cargo build --target ${{ matrix.platform.target }} --release --verbose

    - name: Run tests
      run: cargo test --target ${{ matrix.platform.target }} --release --verbose

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: arsvt3d-${{ matrix.platform.target }}
        path: target/${{ matrix.platform.target }}/release/arsvt3d*
