name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Building-x86_64-pc-windows-gnu
    - run: cargo build --release --target x86_64-pc-windows-gnu
    - name: Building-linux
    - run: cargo build --release
    - name: Building-services-linux
    - run: cd services && cd source && cargo build --release
    
